# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Colemanian space
email: colemancyu@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  浩瀚嘅大海係我嘅征途。
  The Stars My Destination.
  わが征くは星の大海。
twitter_username: colemanyuhk
github_username: colemanyu
minimal_mistakes_skin: air
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Coleman Yu<br><small>コールマン ユ</small>"
  nameback   : "余浩旻<br><small>ヨ コウビン</small>"
  home: "/about/"
  avatar : "/assets/images/bio-photo.jpeg"
  avatarback : "/assets/images/bio-photo-back.jpeg"
  bio    : "I like marine animals."
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:colemancyu@gmail.com"
    - label: "CV"
      icon: "fas fa-fw fa-file-alt"
      url: "/assets/cv.pdf"
    - label: "Name Card"
      icon: "fas fa-fw fa-id-card"
      url: "/assets/name-card.pdf"
    - label: "LinkedIn"
      icon: "fa-brands fa-square-linkedin"
      url: "https://www.linkedin.com/in/colemanyu"
    - label: "Google Scholar"
      icon: "fa-brands fa-google-scholar"
      url: "https://scholar.google.com/citations?user=r1ANweUAAAAJ"
    - label: "ORCID"
      icon: "fa-brands fa-orcid"
      url: "https://orcid.org/0000-0002-9685-2237"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/colemanyu"
    - label: "YouTube"
      icon: "fa-brands fa-square-youtube"
      url: "https://www.youtube.com/"

footer:
  links:
    - label: "X"
      icon: "fab fa-fw fa-x-twitter"
      url: "https://x.com/colemanyuhk"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/coleman.yu.7"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/colemanyuhk/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

comments:
  provider: "disqus"
  disqus:
    shortname: "colemanyu"

after_footer_scripts:
  - https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js
  - https://cdn.jsdelivr.net/npm/tweakpane@3.1.0/dist/tweakpane.min.js
  - /assets/js/flock.js